:root {
  --green: #23BD70;
  --darkGreen: #228855;
  --blue: #2A79BE;
  --gray: #4A6666;
  --white: white;
}

body {
  display: grid;
  grid-template-areas: "calculator";
  grid-template-columns: auto 340px auto;
  grid-template-rows: 100px 400px;
  margin: 0;
}

main {
  text-align: center;
  grid-area: calculator;
  grid-column: 2 / 2;
  grid-row: 2 / 2;

  border: 5px solid var(--gray);
  background-color: var(--green);
}

#Display {
  border: 1px solid black;
  height: 45px;
  font-size: 30px;
  margin: 10px;
  background-color: var(--white);
}

button {
  grid-area: Buttons;
  grid-row: 2 / 5;
  grid-column: 1 / 5;

  height: 45px;
  width: 50px;
  margin: 10px 5px;;
}

button:hover {
  background-color: var(--darkGreen);
  color: var(--white);
}

.active {
  background-color: var(--blue);
  color: var(--white);
}

#Display, button, main {
  border-radius: 10px;
}